<div class="jumbotron"><h1 class="title">Welcome to Burger Town!</h1></div>

<div class="container">
    <div class="d-flex flex-row burgers">
        <div class="col burgers-col">
            <h2>Burgers that need eatin'!</h2>

            <div class="row">
                <ul>
                    {{#each burgers}}
                        {{#unless devoured}}
                            <li>
                                <form action="/burgers/devour/" method="POST">
                                    <input type="hidden" name='id' value={{id}}><br>
                                    <button type="submit" class="btn btn-danger btn-sm" id="devour">DEVOUR!</button>
                                    <label for="devour">{{burger_name}}</label>
                                </form>
                            </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="col burgers-col">
            <h2>Burgers devoured!</h2>

            <div class="row">
                <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                            <li class="devoured">
                                {{burger_name}}
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row new-burgers-row">
        <div class="col new-burger-col">
            <h2>Add your own Burger!</h2>

            <form action="/burgers/new" method="POST">
                <input type="text" name="newburger" id="newburger"><br>
                <button type="submit" class="btn btn-sm btn-success new-burger">ADD!</button>
            </form>
        </div>
    </div>
</div>