li {
    list-style: none;
    display: flex;
    align-items: center;
}

.btn {
    margin-left: 10px;
}

.devoured {
    text-decoration-line: line-through;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

#newburger {
    margin: 10px;
    
}

.burgers {

}

.new-burger-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-burgers-row {
    margin-top: 5rem;
}

.burgers-col {
}